<h2 mat-dialog-title>Your rating</h2>
<mat-dialog-content>
  <div class="row">
    <div class="col-sm-12">
      <ul class="list-inline rating-list" *ngFor="let star of stars" style="display: inline-block">
        <li (click)="countStar(star)" [ngClass]="{'selected': (star <= rating)}">
          <i class="fa fa-star"></i>
        </li>
      </ul>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button" [disabled]="!rating" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" [disabled]="!rating" (click)="save()">Save</button>
</mat-dialog-actions>
