<div class="container mt-5">
  <h2>Available Books</h2>
  <div *ngIf="books && books.length; else stillLoading">
    <div *ngFor="let book of books">
      <div class="card">
        <h3 class="card-header">{{ book.title }} by <span><em>{{ book.author }}</em></span></h3>
        <div class="card-body">
          <div *ngIf="book.images.length">
            <img src="{{ book.images[0].url }}" alt="" class="cover-image" />
          </div>

          <p class="card-text">{{ book.review }}</p>
          <p class="card-text">
            <strong>{{ book.comments.length }}</strong> comments
          </p>

          <div class="d-flex">
            <ul class="list-inline rating-list" *ngFor="let i of createRange(0,5)" style="display: inline-block">
              <li [ngClass]="{'selected': (i < book.averageRating)}">
                <i class="fa fa-star"></i>
              </li>
            </ul>
          </div>

          <div>
            <a routerLink="/books/{{ book.id }}" class="btn btn-primary">View details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div>
    <a mat-button routerLink="/books/create" class="btn btn-primary">Add book</a>
  </div>
</div>
<ng-template #stillLoading>
  <mat-card>
    <mat-card-content>
      <mat-spinner></mat-spinner>
    </mat-card-content>
  </mat-card>
</ng-template>
